@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: "Roboto Mono", monospace;
    font-size: 17px;      
}

body{    
   background: rgb(5,0,85);
   background: linear-gradient(90deg, rgba(5,0,85,1) 0%, rgba(36,82,214,1) 46%, rgba(0,212,255,1) 100%);
}

h1{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    padding: 70px 40px;
}
#arrow{
    display: flex;
    justify-content: center;
    padding-right: 15px;
    padding-top: 30px;
}
.wrapper{
    width: 40%;
    background-color: #fff;
    padding: 70px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.container{
    width: 45%;    
}
input{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 2px sloid #f2e6e6;
    outline: none;
    margin-top: 8px;
    padding: 0 10px;
}
input:focus{
    border-color: #0e3dca;
}

@media screen and (max-width: 760px) {
    .wrapper{
        width: 80%;
        height: auto;        
        overflow:hidden ;   
    }
    body{
        width: 80%;
        height: auto;
        overflow: hidden;        
    }
    
}
